.background
{
    background-color: #ADD8E6;
}
#intro_page_title
{
    color: white;
}
.page-title{
    color:white;
    font-size: 120px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#cursor
{
    color:white;
    font-size: 100px;
    font-family: sans-serif;
    font-weight:lighter;
    vertical-align:text-top;

}
.center
{
    margin: 0 auto; /*set margins equal, how to center a div*/
    width: auto;
    height: auto;
    text-align:center;

}
#profile-pic
{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.summary-content
{
    color:white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
#ASU
{
    color: maroon;
    font-weight: bolder;
}
.toggle-button{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background : white;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    font-size:20px;
    font-weight: bold;
    padding:15px;
    font-family: sans-serif;
    font-style:italic;
}
.toggle-button:hover
{
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

}
#project_toggle
{
    border:4px solid #8c1d40;

}
#project_toggle:hover{
    color: #8c1d40;
    border-color:black;
}
#experience_toggle
{
    border:4px solid #40aaf2;

}
#experience_toggle:hover{
    color: #40aaf2;
    border-color:black;
}
#spotifyapp_toggle
{
    border:4px solid #006400;
}
#spotifyapp_toggle:hover{
    color:darkgreen;
    border-color:black;
}
#token_toggle{
    border:4px solid #ffffe0
}
#spotifyapp_toggle:hover{
    color: #ffffe0;
    border-color:black;
}